@tailwind base;
@tailwind components;
@tailwind utilities;

.b-active {
    color: #570DF8;
    background-color: white;
}

.b-active:hover {
    background-color: #F7CD2E;
}

.b-default {
    background-color: white;
}

.b-default:hover {
    background-color: #F7CD2E;
}