@tailwind base;
@tailwind components;
@tailwind utilities;

.b-active {
    color: #570DF8;
    background-color: white;
}

.b-active:hover {
    background-color: #F7CD2E;
}

.b-default {
    background-color: white;
}

.b-default:hover {
    background-color: #F7CD2E;
}

/* 
.parent {
    display: flex;
    overflow: hidden;
}

.child {
    flex: 1 0 20%;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
} */


/* .parent {
    display: flex;
    overflow: hidden;
    height: 200px;
} */

/* .child {
    flex: 1 0 20%;
    animation: slide 10s linear infinite;
} */

/* @keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
} */

/* .animate-slide {
    animation: slide 5s linear infinite;
} */

.image-custom {
    max-width: 100%;
    max-height: 100%;
    display: block;
}


.marquee-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.marquee-container {
    height: 300px;
}